{
    // "plugins": [
    //     "transform-es2015-arrow-functions",
    //     // "transform-async-to-promises",
    //     "async-to-promises"
    // ]
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 version"]
                },
                "debug": true
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}